@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


body {
    background-color: rgb(242, 242, 242);
    font-family: "Fraunces", Helvetica, sans-serif;
}

.header-box {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    text-align: left;
    font-weight: 300;
    font-size: 300%;  
    margin: 10px;
    letter-spacing: -0.03em;
}


.subheader {
    font-size: x-large;  
}
.general-text{
    font-size: medium;
}

.horizontal-even-flex {
    display: flex;
    /* background:lightgray; */
    text-align: center;
    justify-content: space-evenly;
    gap: 10px;
    /* padding: 10px; */
}

.big-gap{
    gap: 30px;
}

.small-gap{
    gap: 10px;
}

.navigation-bar {
    /* background:grey; */
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    text-align: center;
}

.horizontal-flex {
    display: flex;
    /* background:lightgray; */
    text-align: center;
    gap: 10px;
    justify-content: center;
    padding: 50px;
}

.hoverbutton {
    padding: 10px 15px;
    border: 1px solid transparent; 
    border-radius: 10px;
    transition: all 0.2s ease;
    align-content: center;
}

.hoverbutton:hover {
    border-color: black;           
}

.hoverbutton:active {
    transform: scale(0.95);
    background-color: white;
}

.nonbutton {
    padding: 10px 0px;
    border: 1.5px solid transparent; 
    border-radius: 50px;
    transition: all 0.2s ease;       
}